@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Custom Drop Shadow */
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: -0.1px 0.4px 0.5px hsl(var(--shadow-color) / 0.04),
    -0.1px 0.6px 0.7px -1px hsl(var(--shadow-color) / 0.05),
    -0.2px 1.2px 1.5px -2px hsl(var(--shadow-color) / 0.05);
  --shadow-elevation-medium: -0.1px 0.4px 0.5px hsl(var(--shadow-color) / 0.04),
    -0.2px 1.2px 1.5px -0.7px hsl(var(--shadow-color) / 0.05),
    -0.5px 2.6px 3.2px -1.3px hsl(var(--shadow-color) / 0.05),
    -1.1px 6px 7.3px -2px hsl(var(--shadow-color) / 0.06);
  --shadow-elevation-high: -0.1px 0.4px 0.5px hsl(var(--shadow-color) / 0.04),
    -0.3px 1.7px 2.1px -0.3px hsl(var(--shadow-color) / 0.05),
    -0.5px 3.1px 3.8px -0.7px hsl(var(--shadow-color) / 0.05),
    -0.9px 5.1px 6.2px -1px hsl(var(--shadow-color) / 0.05),
    -1.4px 8.2px 10px -1.3px hsl(var(--shadow-color) / 0.06),
    -2.3px 13px 15.8px -1.7px hsl(var(--shadow-color) / 0.06),
    -3.5px 20px 24.4px -2px hsl(var(--shadow-color) / 0.06);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  a {
    @apply text-blue-500;
  }
}

@layer components {
  .custom-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
  }
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
